<h1>Convert <%= @original_currency %> to <%= @destination_currency %></h1>

<div>
  1 <%= @original_currency %> equals <%= @result %> <%= @destination_currency %>.
</div>

<div>
  Go <a href="/<%= @original_currency %>">back</a>
</div>
